.nav {
  display: flex;
  justify-content: left;
  gap: 1rem;
  border: 2px solid rgb(238, 238, 238);
}
.navLink {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-top: 1000px;
}
.navLink2 {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.navLogo {
  text-align: left;
}
